pe*.xml
pe.xml
*analyze*
out.xml
*.yml
*.zip
test.xml
change.xml
filter.xml
tt
recs
in.xml
grimma.xml
in.xml
rism_*.xml
0*.xml
*0.xml
export.xml
ds*.xml
outtest.xml
*.log
bb.xml
*.log.*
input/
export/
result.csv
